@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-Thin.woff2') format('woff2'),
        url('JosefinSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

